<!DOCTYPE html>
<html ng-app="suras">
  <head>
    <title>Interactive Quran</title>
  </head>

  <body>
    {% verbatim %}
    <div ng-controller="surasController">
      <input ng-model="searchText" name="searchText" type="text">
      <ul>
        <li ng-repeat="suraItem in suraItems| orderBy: number |filter: searchText" ng-click="openSura(suraItem)">
          {{ suraItem.name }}
        </li>
      </ul>
      <h3 ng-model="suraInfo">{{ suraInfo.suraItem.name }}</h3>
      <ul>
        <li ng-repeat="aya in suraInfo.ayas| orderBy: number ">
          <span ng-repeat="word in aya.words track by $index">{{ word }}</span>
        </li>
      </ul>
    </div>
    {% endverbatim %}

    <script src="{{ STATIC_URL }}js/angular.js"></script>

    <script>
      var surasApp = angular.module('suras', []);
      surasApp.controller('surasController', surasController);

      function surasController($scope, surasFactory){
        function init(){
          surasFactory.getSuras().success(function(data){
            $scope.suraItems = data;
            }).error(function(){
              alert('error getting suras data');
            });

            $scope.suraInfo = {sura: null, ayas: []};
        };

        $scope.openSura = function(suraItem){
          surasFactory.getWords(suraItem.number).success(function(data){
              $scope.suraInfo = {sura: suraItem, ayas: data};
              console.log($scope.suraInfo);
            }).error(function(){ alert('error getting suras data')});
        };
        init();
      };

      surasApp.factory('surasFactory', surasFactory);
      function surasFactory($http){
        var factory = {};
        factory.getSuras = function(){
          return $http.get('/explore/sura/');
        };
        factory.getWords = function(suraNumber){
          suraNumber = suraNumber || 1;
          return $http.get('/explore/suraayas/'.concat(suraNumber));
        };
        return factory;
      };
    </script>
  </body>
</html>
